# Игнорировать системные файлы ОС
.DS_Store
Thumbs.db

# Самое важное для безопасности WordPress: файл с паролями к БД
wp-config.php

# Игнорировать папки с медиафайлами и кэшем (они могут быть очень большими)
/wp-content/uploads/
/wp-content/cache/

# Игнорировать файлы логов и настройки редакторов
*.log
.idea/
.vscode/