/* Base */
@import url('base/variables.css');
@import url('base/reset.css');
@import url('base/fonts.css');

/* Components */
@import url('components/button.css');
@import url('components/logo.css');
@import url('components/navigation.css');

/* Sections */
@import url('sections/header.css');
@import url('sections/hero.css');
@import url('sections/footer.css');


body { 
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
  background: #f5f5f5;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  width: 100%; 
  max-width: var(--container-width);    
  padding: var(--container-padding);
  margin: 0 auto;  
}





.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  text-align: center;
}
