.btn {
  display: block;
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-primary);
  background: var(--color-accent);
  border: 1px solid transparent;
  border-radius: 24px;  
  transition: all ease .3s;
}

.btn:hover {
  color: var(--color-accent);
  background: var(--color-primary);
  cursor: pointer;
  transform: scale(1.05);  
}