.nav__list {
  display: flex;
  gap: 30px;
}

.nav__item {
  list-style: none;
}

.nav__link {  
  color: var(--color-white);  
  font-size: 14px;  
}

.nav__link.is-active {
  color: var(--color-accent);
}

