.title {
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.title--dark {
  color: var(--color-primary);
}

.title--white {
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 54px;
  }
}
