.footer {
  position: relative;
  width: 100%;
  height: 300px;
  color: var(--color-white);
  background-color: var(--color-dark-brown);
  z-index: -1;  
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/footer.png'); 
  background-position: center bottom;
  opacity: 0.5; 
  z-index: -2; 
}

.footer__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 0 40px 0;
  margin-bottom: 20px;
}

.footer__logo-wrap,
.footer__address-wrap {
  width: 40%;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__text {
  font-size: 18px;
}

.footer__address-wrap {
  font-size: 18px;
}

.footer__address-title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
}

.footer__copyright {  
  font-size: 14px;
  text-align: center;
}

